
<h1> Collection: <%= @dspace_obj.name %> </h1>

<h4> Handle: <%= @dspace_obj.handle %> </h4>

<h2> Items </h2>

<ul>
    <% @items.each do |itm| %>
        <li>
            <td><%= link_to itm.name, url_for(:id => itm.id, :controller => 'items', :action => :show, :layout => @layout)  %></td>
        </li>
    <% end %>
</ul>

