
<h1> Digital Stuff at My Great Library  </h1>

<p>
You could add a search form that allows search off all of TheGreatPlace's digital assets here.
</p>

<p>
    These following are part of our glorious digital collections in <%= @dspace_obj.name %>
</p>


<ul>
    <% @items.each do |itm| %>
        <li>
            <td><%= link_to itm.name, item_path(itm.id)  %></td>
        </li>
    <% end %>
</ul>

