
<p>
  <strong>Scope:</strong>
  <%= @c_config_value.scope %>
</p>

<p>
  <strong>Value:</strong>
  <%= @c_config_value.value.inspect %>
</p>

<%= link_to 'Edit', edit_config_value_path(@c_config_value) %> |
<%= link_to 'Back', config_values_path %>
