<p>
    Part of the libraries glorious digital asset collection ....
</p>

<h1> Citation </h1>
<ul>
    <% @dspace_obj.get('metadata').each do |md| %>
        <p class="<%= md_to_class(md['key']) %>" >
            <span class="text-primary">
                <%= md['key'] %>:
            </span>

            <%= md['value'] %>
        </p>
    <% end %>
</ul>

<h3> Download </h3>
<ul>
    <% if (@bitstreams.empty?) then %>
        <li> No files available for download, Please contatc the library at XXXX for assistance</li>
    <% else %>
        <% @bitstreams.each do |bit| %>
            <li>
                <%= link_to bit.name, bitstream_path(bit.id) %>
            </li>
        <% end %>
    <% end %>
</ul>
