<p>
    some static text here - for all item pages in the library layout
</p>

<h1> Citation </h1>

<% attributes = @c_dspace_obj.metadata
   @c_config[:item_display][:detail_metadata_list].each do |md| %>
    <p class="<%= md_to_class(md) %>">
            <span class="text-primary">
                <%= md %>:
            </span>
        <%= attributes[md] %>
    </p>
<% end %>


<h3> Download </h3>
<ul>
    <% if (@c_bitstreams.empty?) then %>
        <li> No files available for download, Please contatc the library at XXXX for assistance</li>
    <% else %>
        <% @c_bitstreams.each do |bit| %>
            <li>
                <%= link_to bit.name, bitstream_path(bit.id) %>
            </li>
        <% end %>
    <% end %>
</ul>
