
<h1> Community: <%= @dspace_obj.name %> </h1>

<h4> Handle: <%= @dspace_obj.handle %> </h4>

<h2> Subommunities </h2>

<ul>
    <% @communities.each do |com| %>
        <li><%= link_to com.name, community_path(com.id)  %>
        </li>
    <% end %>
</ul>

<h2> Collections </h2>

<ul>
    <% @collections.each do |col| %>
        <li>
            <%= link_to col.name, collection_path(col.id)  %>
        </li>
    <% end %>
</ul>

