
<h1> Community: <%= @dspace_obj.name %> </h1>

<h4> Handle: <%= @dspace_obj.handle %> </h4>

<h2> Subommunities </h2>

<ul>
    <% @communities.each do |com| %>
        <li>
            <%= link_to com.name, url_for(:id => com.id, :controller => 'communities', :action => :show, :layout => @layout)  %>
        </li>
    <% end %>
</ul>

<h2> Collections </h2>

<ul>
    <% @collections.each do |col| %>
        <li>
            <%= link_to col.name, url_for(:id => col.id, :controller => :collections, :action => :show, :layout => @layout)  %>
        </li>
    <% end %>
</ul>

