
<h1> Community: <%= @dspace_obj.name %> </h1>


<h2> Subommunities </h2>

<ul>
    <% @communities.each do |com| %>
        <li>
            <td><%= link_to com.name, community_path(com.id)  %></td>
        </li>
    <% end %>
</ul>

<h2> Collections </h2>

<ul>
    <% @collections.each do |col| %>
        <li>
            <td><%= link_to col.name, collection_path(col.id)  %></td>
        </li>
    <% end %>
</ul>

