
<h1> Top Communities</h1>

<ul>
    <% @top_communities.each do |com| %>
        <li>
            <%= link_to com.name, url_for(:id => com.id, :controller => 'communities', :action => :show, :layout => @layout)  %>
        </li>
    <% end %>
</ul>

