
<h1> Top Communities</h1>

<ul>
    <% @top_communities.each do |com| %>
        <li>
            <%= link_to com.name, url_for(:action => :show, :id => com.id)  %>
        </li>
    <% end %>
</ul>

