<ol class="breadcrumb">
        <li> <a href="/"> Home </a> </li>
        <% @c_dspace_obj_parents.reverse.each do |p| %>
            <li>  <%= link_to p.name, community_path(p.id) %> </li>
        <% end %>
</ol>

