<!DOCTYPE html>
<html>
<head>
    <title><%= @app_name %></title>
</head>

<body class='<%= "action_#{params['action']}" %> <%= "controller_#{params['controller']}" %>'>
    <%= yield %>
</body>
</html>
